#navlinks{
    display:none;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:20px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:#333;
    padding: 20px;
    z-index: 1000;
}
#navlinks.active{
    display:flex;
}
#navlinks li{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size:20px;
    color:#fff;
    text-decoration:none;
    transition:0.3s;
    cusror : pointer;
    font-weight:600;
    padding:10px 20px;
    border-radius:5px;
    background-color:#4CAF50;
    border-bottom:2px solid #45a049;
    margin-bottom:10px;
    display:block;
    text-align: center;

}
#navlinks li:hover{
    background-color:#45a049;
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    color:#fff;
    text-decoration: none;
    border-bottom:2px solid #45a049;
    transition:0.3s;
    cursor:pointer;
    text-align:center;
    font-size:20px;
    font-weight:600;
    padding:10px 20px;
    border-radius:5px;
    margin-bottom:10px;
    display:block;
    text-align:center;
    text-decoration:none;
    
}



